<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
    <ul id="navMenu" class="menu">
        <li>
            <a class="item-menu" href="http://localhost:3000/home">Home</a>
            <div id="dot"></div>
        </li>
        <li>
            <a  class="item-menu" href="http://localhost:3000/about">About</a>
            <div id="dot"></div>
        </li>
        <li>
            <a  class="item-menu" href="http://localhost:3000/albums">Albums</a>
            <div id="dot"></div>
        </li>
        <li>
            <a  class="item-menu" href="http://localhost:3000/songs">Songs</a>
            <div id="dot"></div>
        </li>
    </ul>

    <h1>About</h1>
    <img class="img-about" src="images/Nf.jpg">
<div class="about-info">
    <p class="info-1">Nathan John Feuerstein (Gladwin, Míchigan; 30 de marzo de 1991), más conocido como NF (estilizado como ИF) es un rapero, cantante y compositor estadounidense. Lanzó un EP titulado NF en 2014, con Capitol CMG, que le permitió ingresar en las listas de Billboard. Ha lanzado cinco álbumes de estudio: Mansion en 2015, Therapy Session en 2016, Perception en 2017, el cual debutó N°1 en los Billboard 200 Charts[cita requerida], The Search en 2019, y CLOUDS (THE MIXTAPE) en 2021. El tercer sencillo de Perception, Let You Down, le permitió entrar en los tabloides internacionales y certificarse triple platino en Estados Unidos.[cita requerida] Su música está enfocada en su crecimiento como rapero y superación personal.</p>

    <p class="info" >Feuerstein ha acreditado a Eminem como su principal influencia en el hip hop, afirmando que en un momento eso fue todo lo que escuchó. Es comparado con Eminem por la voz, ya que tanto NF como el rapero, tienen el mismo tipo de voz, aunque en realidad se distinguen. El estilo de NF también se ha comparado con el del rapero Logic.</p>
</div>
</body>
</html>