<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Albums</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
    <ul id="navMenu" class="menu">
        <li>
            <a class="item-menu" href="http://localhost:3000/home">Home</a>
            <div id="dot"></div>
        </li>
        <li>
            <a  class="item-menu" href="http://localhost:3000/about">About</a>
            <div id="dot"></div>
        </li>
        <li>
            <a  class="item-menu" href="http://localhost:3000/albums">Albums</a>
            <div id="dot"></div>
        </li>
        <li>
            <a  class="item-menu" href="http://localhost:3000/songs">Songs</a>
            <div id="dot"></div>
        </li>
    </ul>

    <h1>Albums</h1>
<div class="albums">
    <div class="img-about">
        <img src="./images/thesearch.jpg" width="400" height="300" alt="">
        <h3>The search</h3>
        <p class="p-info">The Search es el cuarto álbum de estudio del artista estadounidense de hip hop NF. Fue lanzado el 26 de julio de 2019 a través de NF Real Music y Caroline, 1​ y fue precedido por los singles "WHY", "The Search", "When I Grow Up" y "Time". 2​ NF se embarcó en una gira por América del Norte en septiembre y octubre de 2019 en apoyo del álbum. 3​ Debutó en la cima del Billboard 200, convirtiéndose en el segundo álbum número uno de NF en los Estados Unidos, y recibió críticas generalmente mixtas de los críticos.</p>
    </div>

    <div class="img-about">
        <img src= "./images/therapy.jpg" width="400" height="300" alt="">
        <h3>Therapy seasion</h3>
        <p class="p-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda dignissimos, ratione molestiae ea facere vero aut quos itaque odit. Id fugiat quia laborum aliquam dolor temporibus similique minima vitae porro.</p>
    </div>

    <div class="img-about">
        <img src="./images/mansion.jpg"  width="400" height="300" alt="">
        <h3>Mansion</h3>
        <p class="p-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda dignissimos, ratione molestiae ea facere vero aut quos itaque odit. Id fugiat quia laborum aliquam dolor temporibus similique minima vitae porro.</p>
    </div>
    <div class="img-about">
        <img src="./images/clauds.jpg"  width="400" height="300" alt="">
        <h3>Clauds</h3>
        <p class="p-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda dignissimos, ratione molestiae ea facere vero aut quos itaque odit. Id fugiat quia laborum aliquam dolor temporibus similique minima vitae porro.</p>
    </div>
    <div class="img-about">
        <img src="./images/perception.jpg"  width="400" height="300" alt="">
        <h3>Perception</h3>
        <p class="p-info">Perception es el tercer álbum de estudio del rapero estadounidense NF, lanzado el 6 de octubre de 2017, por Capitol y Caroline. El álbum fue producido en su totalidad por los productores estadounidenses Tommee Profitt y David García, y presenta una actuación invitada del cantante estadounidense Ruelle . El álbum alcanzó el número 1 en el Billboard 200 . En su mayoría, el álbum trata temas íntimos como la salud mental o el amor a su esposa.</p>
    </div>

   


</body>
</html>