<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Songs</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
    <ul id="navMenu" class="menu">
        <li>
            <a class="item-menu" href="http://localhost:3000/home">Home</a>
            <div id="dot"></div>
        </li>
        <li>
            <a  class="item-menu" href="http://localhost:3000/about">About</a>
            <div id="dot"></div>
        </li>
        <li>
            <a  class="item-menu" href="http://localhost:3000/albums">Albums</a>
            <div id="dot"></div>
        </li>
        <li>
            <a  class="item-menu" href="http://localhost:3000/songs">Songs</a>
            <div id="dot"></div>
        </li>
    </ul>

    <h1>Songs</h1>
        <div class="images">
            <img class="gallery" src="./images/claudssongs.jpg"  width="800" height="400" alt="">
            <img class="gallery" src="./images/persongs.jpg"  width="800" height="400" alt="">
            <img class="gallery" src="./images/therapysongs.jpg"  width="800" height="400" alt="">
            <img class="gallery" src="./images/thesongs.jpg"  width="800" height="400" alt="">
            <img class="gallery" src="./images/songsman.jpg"  width="800" height="400" alt="">
        </div>

</body>
</html>